@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 32 57 95;
    --foreground: 248 19 40;

    --card: 35 100 98;
    --card-foreground: 248 19 40;

    --popover: 33 43 91;
    --popover-foreground: 248 19 40;

    --primary: 3 53 67;
    --primary-foreground: 8 50 97;

    --secondary: 197 53 34;
    --secondary-foreground: 200 29 94;

    --muted: 25 35 93;
    --muted-foreground: 248 12 52;

    --accent: 315 4 80;
    --accent-foreground: 249 20 20;

    --destructive: 343 35 55;
    --destructive-foreground: 343 33 96;

    --border: 10 9 86;
    --input: 10 9 86;
    --ring: 315 4 80;

    --radius: 0.5rem;

    --text-muted: 257 9 61;
    --text-subtle: 248 12 52;
  }

  .dark {
    --background: 249 22 12;
    --foreground: 245 50 91;

    --card: 247 23 15;
    --card-foreground: 245 50 91;

    --popover: 248 25 18;
    --popover-foreground: 245 50 91;

    --primary: 2 55 83;
    --primary-foreground: 0 11 21;

    --secondary: 197 49 38;
    --secondary-foreground: 200 31 94;

    --muted: 244 18 15;
    --muted-foreground: 248 15 61;

    --accent: 248 13 36;
    --accent-foreground: 240 7 94;

    --destructive: 343 76 68;
    --destructive-foreground: 344 73 97;

    --border: 249 15 28;
    --input: 249 15 28;
    --ring: 248 13 36;

    --text-muted: 249 12 47;
    --text-subtle: 248 15 61;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
